
*.apk

*.class

.classpath

.DS_Store

.project

.settings/org.eclipse.jdt.core.prefs

bin/classes.dex

bin/classes/com/csci3308/precrastinate/BuildConfig.class

bin/classes/com/csci3308/precrastinate/MainActivity.class

bin/classes/com/csci3308/precrastinate/R$attr.class

bin/classes/com/csci3308/precrastinate/R$drawable.class

bin/classes/com/csci3308/precrastinate/R$layout.class

bin/classes/com/csci3308/precrastinate/R$string.class

bin/classes/com/csci3308/precrastinate/R$style.class

bin/classes/com/csci3308/precrastinate/R.class

bin/jarlist.cache

bin/precrastinate.apk

bin/R.txt

bin/resources.ap_

libs/android-support-v4.jar

gen/android/support/v7/appcompat/R.java

gen/com/csci3308/precrastinate/BuildConfig.java

gen/com/csci3308/precrastinate/R.java

proguard-project.txt

project.properties
