
*.class

bin/classes/com/csci3308/precrastinate/MainActivity.class

bin/classes/com/csci3308/precrastinate/R$attr.class

bin/classes/com/csci3308/precrastinate/R$drawable.class

bin/classes/com/csci3308/precrastinate/R$layout.class

bin/classes/com/csci3308/precrastinate/R$string.class

bin/classes/com/csci3308/precrastinate/R$style.class

bin/classes/com/csci3308/precrastinate/R.class

bin/R.txt

bin/jarlist.cache

*.apk

.DS_Store

.classpath

.project

.settings/org.eclipse.jdt.core.prefs

libs/android-support-v4.jar

bin/resources.ap_

bin/precrastinate.apk

bin/classes.dex

gen/com/csci3308/precrastinate/R.java

gen/android/support/v7/appcompat/R.java

project.properties
